.info-page{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 30px;
  h3.title {
    font-size: 20px;
    text-align: center;
  }
  .summary-body {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    background-color: #ffffff08;
    color: #fff;
    .media {
      flex: 0 0 230px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
        height: auto;
        border-radius: 100%;
        object-fit: cover;
      }
    }
    .text {
      display: flex;
      gap: 15px;
      flex: 1;
      padding: 70px;
      font-size: 14px;
      flex-direction: column;
      line-height: 25px;
      font-weight: 500;
    }
    a {
      color: #5ce2ff;
      text-align: center;
      background-color: #ffffff05;
      padding: 25px;
      width: 100%;
      &:hover{
        cursor: pointer;
        background-color: #ffffff09;
      }
    }
  }
  &.summary {
    .summary-body {
     
      .media {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        overflow: hidden;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 30px;
          object-fit: cover;
          border: 1px solid #171717;
        }
      }
      .text {
        z-index: 2;      
        font-weight: 500;
      }
    }
  }
  &.outer-links{
    display: flex;
    flex-direction: row;
    a.link{
      padding: 10px;
      display: flex;
      width: 50%;
      align-items: center;
      background-color: #ffffff08;
      border-radius: 30px;
      border: 2px solid #fefefe0a;
      img{
        width: 80px;
        aspect-ratio: 1;
        border-radius: 50%;
      }
      h5{
        width: 100%;
        padding: 15px;
        text-align: center;
      }
      &:hover{
        cursor: pointer;
        background-color: #c4c5ff10;
      }
    }
  }
  &.contact {
    padding: 30px;
    p {
      font-size: 15px;
      text-align: center;
    }
  }
}

@media (max-width: 800px) {
  section{
    .summary-body{
      .text{
        padding: 30px;
      }
    }
    &.outer-links{
      flex-direction: column;
      a.link{
        width: 100%;
      }
    }
  }
}