<section class="summary">
    <h3 class="title">✨ Тікето-тяночка 🇺🇦 ✨</h3>
    <div class="summary-body">
        <div class="media">
            <img src="/media/tgbotpicreg.png">
        </div>
        <div class="text">
            <p>Ticketo-chan (ukrainian: Тікето-тяночка) is a Telegram bot for automating Ticketonomics processes.</p>
            <p>Ticketonomics is a game system based on tickets (in-game currency).</p>
            <p>More info and updates are available in the Telegram channel TossaTickets <a href="https://t.me/+q66chy227wk5MWQy">(https://t.me/+q66chy227wk5MWQy)</a></p>
            <p>🪬 To join Ticketonomics, you must become part of our Community by joining the Telegram group Spaceflight Simulator 🇺🇦 
            (&#64;spaceflight_simulator_chat), and send the /reg command to Ticketo-chan. </p>
        </div>
    </div>        
</section>
<section class="more-details">
    <h3 class="title">📊 Learn about participants,leaderboards and 💳 Transfer assets</h3>
    <div class="summary-body">
        <div class="text">
            <p>• Member info: Reply to one's message with /infm, or provide one's username or ID: /infm [username/id] </p>
            <p>• Check member's assets: Reply with /bal, or provide one's username or ID: /bal [username/id]  </p>
            <p>• View member's awards: Use the /laward command. Works the same as /bal  </p>
            <p>• View your transfer history: Use the /ltrans command  </p>
            <p>• Ticket leaderboard: Get the full list with /topt. For a trimmed list, provide a positive number, or for the anti-leaderboard, a negative number: /topt [number]  </p>
            <p>• Leaderboard by ticket share: Similar to /topt but shown in percentages: /topt % [number]</p>
            <p>• Transfer tickets between members: Reply to any message from the recipient, optionally add a description (it will be saved):  
                /tpay [amount] [description], or use their username/ID: /tpay [username/id] [amount] [description].  
                Both whole and fractional positive numbers are allowed (up to 2 digits after the dot/comma). </p>  
        </div>
    </div>  
</section>
<section class="contact">
    <h3 class="title">✉️ Got questions?</h3>
    <p>• Author: t.me/capri_xj</p>
    <p>• GitHub: github.com/caprixj/TossaTicketsBot</p>
</section>
    
   
