<section class="summary">
    <h3 class="title">✨ Тікето-тяночка 🇺🇦 ✨</h3>
    <div class="summary-body">
        <div class="media">
            <img src="/media/tgbotpicreg.png">
        </div>
        <div class="text">
            <p>Ticketo-chan (українською: Тікето-тяночка) — це Telegram-бот для автоматизації процесів Ticketonomics.</p>
            <p>Ticketonomics — це ігрова система, заснована на квитках (ігрова валюта).</p>
            <p>Більше інформації та оновлень доступно у Telegram-каналі TossaTickets <a href="https://t.me/+q66chy227wk5MWQy">(https://t.me/+q66chy227wk5MWQy)</a></p>
            <p>🪬 Щоб приєднатися до Ticketonomics, потрібно стати частиною нашої спільноти, приєднавшись до Telegram-групи Spaceflight Simulator 🇺🇦 
            (&#64;spaceflight_simulator_chat) та надіслати команду /reg Тікето-тяночці.</p>
        </div>
    </div>        
</section>
<section class="more-details">
    <h3 class="title">📊 Дізнайтеся про учасників, таблиці лідерів та передачу активів 💳</h3>
    <div class="summary-body">
        <div class="text">
            <p>• Інформація про учасника: відповідайте на його повідомлення командою /infm або вкажіть його username або ID: /infm [username/id]</p>
            <p>• Перевірити активи учасника: відповідайте командою /bal або вкажіть username/ID: /bal [username/id]</p>
            <p>• Переглянути нагороди учасника: використовуйте команду /laward. Працює так само, як /bal</p>
            <p>• Переглянути історію ваших транзакцій: команда /ltrans</p>
            <p>• Таблиця лідерів за квитками: повний список — /topt. Щоб отримати обмежений список, вкажіть позитивне число, або для анті-лідерборду — від’ємне число: /topt [number]</p>
            <p>• Лідерборд за часткою квитків: подібно до /topt, але у відсотках: /topt % [number]</p>
            <p>• Передати квитки іншому учаснику: відповідайте на будь-яке повідомлення одержувача, можна додати опис (збережеться):  
                /tpay [amount] [description], або використовуйте username/ID: /tpay [username/id] [amount] [description].  
                Допускаються цілі та дробові числа (до 2 знаків після крапки/коми).</p>  
        </div>
    </div>  
</section>
<section class="contact">
    <h3 class="title">✉️ Є питання?</h3>
    <p>• Автор: t.me/capri_xj</p>
    <p>• GitHub: github.com/caprixj/TossaTicketsBot</p>
</section>
