<div class="info-page">
<section class="summary">  
  <h3 class="title">
      Тікетономіка та Тікетотян
  </h3>
  <div class="summary-body">  
    <div class="text">    
      <p>
        Ticketo-chan (українською: Тікето-тяночка) — це Telegram-бот для
        автоматизації процесів Ticketonomics.
      </p>
      <p>
        Ticketonomics — це ігрова система, заснована на квитках (ігрова валюта).
      </p>
      <p>
        🪬 Щоб приєднатися до Ticketonomics, потрібно стати частиною нашої
        спільноти, приєднавшись до Telegram-групи Spaceflight Simulator 🇺🇦
        (&#64;spaceflight_simulator_chat) та надіслати команду /reg
        Тікето-тяночці.
      </p>
    </div>
  </div>
</section>

<section class="outer-links">
  <a class="link group" href="https://t.me/spaceflight_simulator_chat">
    <img src="/media/sfsg.jpg">
    <h5>Telegram: Spaceflight Simulator 🇺🇦</h5>
  </a>
  <a class="link bot" href="https://t.me/tossa_tickets_bot">
    <img src="/media/tgbotpic.jpg">
    <h5>Telegram: Ticketo-chan</h5>
  </a>
</section>


<section class="more-details">
  <h3 class="title">
    Список команд тікетотян
  </h3>
  <div class="summary-body">
    <div class="text">
      <p>
        • Інформація про учасника: відповідайте на його повідомлення командою
        /infm або вкажіть його username або ID: /infm [username/id]
      </p>
      <p>
        • Перевірити активи учасника: відповідайте командою /bal або вкажіть
        username/ID: /bal [username/id]
      </p>
      <p>
        • Переглянути нагороди учасника: використовуйте команду /laward. Працює
        так само, як /bal
      </p>    
    </div>
    <a routerLink="/commands">Усі команди</a>
  </div>
</section>
<section class="contact">
  <h3 class="title">✉️ Є питання?</h3>
  <p>• Автор: t.me/capri_xj</p>
  <p>• GitHub: github.com/caprixj/TossaTicketsBot</p>
</section>
</div>