<header>
  <div class="container header-container">
    <div routerLink="ticketonomika" class="logo-section">
      <img src="/svg/ticket.svg" alt="Logo">
      <h4>Ticketonomics</h4>
    </div>
    <nav>
      <button 
        class="btn-menu" 
        (click)="toggleMenu()"   
      >
        <img 
          [src]="menuOpen ? '/svg/close.svg' : '/svg/menu.svg'"  
          alt="Menu"
          class="menu-icon"
          [class.rotated]="menuOpen"
        >
      </button>
      <app-nav-bar 
        class="compact-nav {{menuOpen ? 'open' : ''}}"
      >
      </app-nav-bar>
    </nav>
  </div>
</header>

<div class="container main-container">
  <app-nav-bar class="dekstop-nav" ></app-nav-bar>
  <div class="route {{menuOpen ? 'hide' : ''}}">
    <router-outlet></router-outlet>
  </div>
</div>
