<header class="{{ authClass }}">
  <div class="container header-container">
    <div routerLink="info" class="logo-section">
      <h4>Ticketonomics</h4>
    </div>
    <nav>
      <div class="context-menu">       
        @if (isAuthenticated) {
          <button class="box" (click)="openBox()" [class.avalible]="rewardAvalible()">
            <img src="svg/box.svg">T-Box
          </button>
          <a class="profile" routerLink="/profile" routerLinkActive="active-link">
            <img src="/svg/person.svg" />
            Профіль
          </a>
          <a (click)="logout()" routerLinkActive="active-link">
            <img src="/svg/logout.svg" />
            Вийти
          </a>
        }
        @else {
          <a routerLink="/signin" routerLinkActive="active-link">
            <img src="/svg/key.svg" />          
          </a>
          <a routerLink="/info" routerLinkActive="active-link">
            <img src="/svg/info.svg" />          
          </a>
        }
      </div>
      

      <button class="btn-menu" (click)="toggleNavMenu()">
        <img
          [src]="navMenuOpen ? '/svg/close.svg' : '/svg/menu.svg'"
          alt="Menu" class="menu-icon" [class.rotated]="navMenuOpen"
        />
      </button>
    </nav>
  </div>
</header>

<div #mainContainer class="container main-container {{ authClass }}">
  
  <app-nav-bar class="nav {{ navMenuOpen ? 'open' : '' }}"></app-nav-bar>
  
  <div
    [@routeTransition]="getRouterOutletState(outlet)" 
    class="route {{ navMenuOpen ? 'hide' : '' }}" >

    <router-outlet #outlet="outlet"></router-outlet>

  </div>
</div>
