nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
  width: 250px;
  max-height: 100%;
  overflow-y: scroll;
  border-radius: 20px;
  padding: 10px;
  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .context-menu {
    display: none;
    div,
    button,
    a {
      width: 100%;
      border-radius: 10px;

      img {
        height: 20px;
      }
    }
    .lang {
      button {
        border-radius: 0;
      }
    }
  }
  &.unauth {
    display: flex;
    padding: 0;
    flex-direction: row-reverse;
    width: max-content;
    height: 50px;
    border-radius: 0;
    background: #ffffff00;

    a {
      width: 50px;
      padding: 12px;
      border: 1px solid white;
      margin: 0;
      &.active-link {
        display: none;
      }
      span {
        display: none;
      }
    }
  }
  &::-webkit-scrollbar {
    height: 0px;
    width: 2px;
  }
  a {
    display: flex;
    padding: 12px;
    flex-direction: row;
    gap: 5px;
    border-radius: 10px;
    height: 50px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.088);
    &:hover {
      cursor: pointer;
      background-color: #779cec3d;
    }
    &.close {
      background-color: #00000017;
      pointer-events: none;
      color: #ffffff5c;
      img {
        opacity: 0.3;
      }
    }
    span {
      width: 100%;
      flex: 1;
      text-align: center;
      font-weight: 500;
      font-size: 13px;
    }

    &.active-link {
      background-color: #487ded3d;
      span {
        font-weight: 600;
      }
    }
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 1160px) {
  nav {
    width: 70px;
    a {
      width: 50px;
      flex-direction: column;
      span {
        display: none;
      }
    }
  }
}
@media (max-width: 780px) {
  nav {
    background-color: #ffffff00;
    display: flex;
    width: 90%;
    flex-direction: column;
    padding: 0 20px;
    border: 2px solid #ffffff00;
    a {
      width: 100%;
      height: auto;
      flex-direction: column;
      border: 1px solid rgba(255, 255, 255, 0.192);
      box-shadow: inset 0px 0px 15px 0px #382f8600;
      padding: 20px;
      span {
        display: block;
      }
      &:hover {
        box-shadow: inset 0px 0px 15px 0px #372f86;
      }
    }
    .nav-list {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr;
    }
    .context-menu {
      display: grid;
      gap: 10px;
      grid-template-columns: 3fr 7fr;
    }
  }
}
