<nav class="{{ isAuth ? '' : 'unauth' }}">
  <div class="context-menu">
    @if (isAuth) {
      <a class="logout" (click)="logout()">
        <img src="/svg/logout.svg" />    
      </a> 
      <a routerLink="/profile" routerLinkActive="active-link">
        <img src="/svg/person.svg" />      
        <span class="nav-label">Профіль</span>
      </a>          
    }
  </div>
  <div class="nav-list">
  @for (link of links; track link.label) {
    @if (link.authOnly === isAuth || link.authOnly === undefined) {
      <a
        routerLink="{{ link.route }}"
        routerLinkActive="active-link"
        [title]="link.label"
        class="{{link.open ? '' : 'close'}}"
      >
        <img class="icon" [src]="link.icon" [alt]="link.label" />
        <span class="nav-label">{{ link.label }}</span>
      </a>
    }
  }
  </div>
</nav>
