<div class="profile-block">
  @if (user; as u) {
    <article class="card profile">
      <img [src]="u.avatar || '/svg/image.svg'" alt="avatar" class="avatar" />
      <div class="account">
        <h2 class="profile-name">
          {{ u.name }}
          <p>{{ u.username }}</p>
        </h2>
        <div class="type" [class]="u.legalStatus.toLowerCase()">
          <p>{{ u.legalStatus.toUpperCase() }}:</p>
          <p>{{ u.passportId }}</p>
        </div>
      </div>
      <div class="balance">
        <div class="tickets">
          <h4>Тікетів:</h4>
          <h3>
            {{ u.tickets || 0 }}
          </h3>
        </div>
        <div class="materials">
          <h4>Матеріали:</h4>
          <h3>
            {{ this.totalMaterialsCost }}
          </h3>
        </div>
      </div>
    </article>

    @if (u.materials!.length) {
      <section class="card materials">
        <h3 class="title">Матеріали</h3>
        <ul class="materials-list">
          @for (mat of u.materials; track mat.name) {
            <li class="material">
              <img
                class="icon"
                [src]="mat.name | iconMaterial"
                alt="{{ mat.name }}"
              />
              <div class="display">
                <a href="/materials/{{ mat.name }}.png" class="name">{{
                  mat.name
                }}</a>
                <span class="amount">{{ mat.amount }}</span>
              </div>
            </li>
          }
        </ul>
      </section>
    }

    <app-awards-carousel
      [awards]="user.awards"
      class="awards"
    ></app-awards-carousel>

    @if (u.jobs!.length) {
      <section class="card jobs">
        <h3 class="title">Посади</h3>
        <ul class="jobs-list values">
          @for (job of u.jobs; track job.id) {
            <li>
              <h4>{{ job.name }}</h4>
            </li>
          }
        </ul>
      </section>
    }
  } @else {
    <p>Пуп-уп...</p>
  }
</div>
