.profile-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .card {
    border-radius: 15px;
    width: 100%;

    .values {
      display: flex;
      border-radius: 10px;
      background-color: #ffffff0d;
      flex-direction: column;
    }

    img.ticket {
      height: 15px;
      margin-left: 5px;
    }

    h2.profile-name {
      font-weight: 700;
      font-size: 18px;
      margin: 0;
    }

    h3.title {
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 10px;
    }

    h4 {
      font-weight: 500;
      font-size: 13px;     
    }

    p {
      font-weight: 400;
      font-size: 13px;
      margin: 0;
    }

    ul {
      display: flex;
      flex-direction: column;
      padding: 5px 0;
      gap: 6px;

      li {
        padding: 10px;
        border-radius: 8px;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &.profile {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background-color: #ffffff0d;
      
      img.avatar {
        width: 80px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 3px solid rgba(255, 255, 255, 0.492);
        object-fit: cover;
      }
      .account{
        padding: 20px;
        .profile-name{
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
          align-items: center;
        }
        .type{
          display: flex;
          padding: 10px 20px;
          border-radius: 30px;
          max-width: 180px;
          margin-top: 10px;
          justify-content: center;
          &.citizen{           
            background-color: #3e65a1db;
          }
          &.rezident{
             background-color: citizen;
          }
          &.migrant{           
            background-color: #4cb64cdb;
          }
        }
      }
      .balance{
        display: flex;
        width: 100%;
        border-top: 2px solid #ffffff08;
        flex-wrap: wrap;
        padding-top: 10px;
        div {
          padding: 5px;
          border-radius: 10px;
          min-width: max-content;
          gap: 5px;
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        h3 {
          display: flex;
          align-items: center;
          color: #fff312;
          font-size: 22px;
        }
      }
    }

    &.materials {
      ul.materials-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        padding: 4px 0;
      }

      .material {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #ffffff0d;
        img.icon {
          width: 20px;
          height: 20px;
          object-fit: cover;
        }
        .display {
          display: flex;
          gap: 10px;
          align-items: center;
          width: 100%;
          justify-content: space-between;       

          span, a {
            font-weight: 500;
            font-size: 13px;
            &::first-letter{
              text-transform: uppercase;
            }
            &.amount {
              font-size: 13px;           
              padding: 5px;
              border-radius: 5px;
              background-color: #0c0c0c6e;
            }
          }
        }
      }
    }
    &.awards{
      ul.awards-list{
        li{
          border-bottom: 2px solid #ffffff17;
          border-radius: 0;
          padding: 20px;
        }
      }
    }
    &.jobs{
      ul.jobs-list{
        li{
          border-bottom: 2px solid #ffffff17;
          border-radius: 0;
          padding: 20px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .profile-block {
    gap: 30px;
    .card {
      
      h4 {
        text-align: center;
      }
      &.materials{
        ul.materials-list{
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}
