.award-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h4.award-name {
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    background-color: #00000036;
    font-size: 17px;
    .code{
        margin-bottom: 5px;
    }
    .name{
        font-size: 15px;
    }
}

span.award-date {
    font-size: 13px;
    color: #bebebe;
    display: block;
    width: 100%;
    text-align: end;
}

p.award-description {
    font-size: 14px;
}